<h1 style="color: black; font-weight: bold;">Reservaciones:</h1>

<div class="row mb-2">
  <div class="col-md-6" *ngFor="let item of reservations">
    <div
      class="
        row
        no-gutters
        border
        rounded
        overflow-hidden
        flex-md-row
        mb-4
        shadow-sm
        h-md-250
        position-relative
      "
    >
    <div class="col p-4 d-flex flex-column position-static">
      <h3 class="mb-0 text-black">{{ item.idConsultorio.idCentroSalud.nombre }}</h3>
      <div class="mb-1 text-black">
          {{ item.fecha | date: "fullDate":"GMT-0" }} de {{ item.empieza }}:00 a {{ item.finaliza }}:00
      </div>
      <p class="mb-1 text-black">Veterinario: {{ item.idDoctor.name }}</p>
      <p class="card-text mb-auto text-black">
          {{ item.idConsultorio.idCentroSalud.ubicacion }}
          {{ item.idConsultorio.indicaciones }} N°
          {{ item.idConsultorio.numeroConsultorio }}
      </p>
  </div>

    </div>
  </div>
</div>
