.logo {
  width: 60px; /* Ajusta el ancho de la imagen según sea necesario */
  height: auto; /* Mantiene la proporción del aspecto de la imagen */
  margin-right: 20px; /* Ajusta el margen derecho según sea necesario */
}
